-
# Gaitech Differential Robot Configuration File
# Axle Length : 0.6262
Axle Length : 0.540
Wheel Radii : 0.15511
Transmission Ratio : 35
Motor Minimum : 0
Motor Maximum : 3000
# For Testing No time sync ...
Time Sync : 3600000
Use Odometry : 0
Use ADRC : 0
# Not using table file
# Table File : "motor.table"
