<?xml version="1.0"?>
<launch>

  <!-- RIA ODO Description Static launch -->
  <param name="robot_description" command="$(find xacro)xacro '$(find r200_description)/urdf/r200_static.urdf.xacro'"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


</launch>
